<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="SafeEnvironment">
      <section name="Configuration" type="SafeEnvironment.Mvc.Configuration.AppConfiguration, SafeEnvironment.Mvc" />
    </sectionGroup>
  </configSections>

  <SafeEnvironment>
    <Configuration sslActived="true" sslUrl="http://localhost:3003" nonSslUrl="http://localhost:3000" />
  </SafeEnvironment>
</configuration>